@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #22235f;
    color: #e9e9ef;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    width: 100%;
    font-family: inherit;
    font-size: 87.5%;
    color: #22235f;
}

input {
    padding: .5rem .625rem;
    border: none;
    border-radius: .3125rem;
    transition: outline .2s ease;
}

input:hover {
    outline: 2px solid #6FC7E1;
}

input:focus {
    outline: 2px solid #6FC7E1;
}

button {
    font-weight: inherit;
    background-color: #e2eb68;
    padding: .625rem;
    text-transform: inherit;
    box-shadow: 0px 5px #b5bc53;
    border: none;
    border-radius: .625rem;
    letter-spacing: 1px;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    box-shadow: none;
}

.container {
    padding: .9375rem;
}

.players {
    background-color: #38396f;
    padding: .9375rem .9375rem 1.25rem;
    border-radius: .625rem;
}

.players p {
    margin-bottom: 2.5rem;
    text-align: center;
    letter-spacing: 1px;
}

.players button {
    margin-top: 2.5rem;
}

.first-player {
    margin-bottom: .9375rem;
}

.first-player > div,
.second-player > div {
    display: flex;
    align-items: center;
    column-gap: .3125rem;
}

.first-player span,
.first-player-name {
    color: #a8dacd;
}

.second-player span,
.second-player-name {
    color: #eb68a0;
}

.first-player label,
.second-player label {
    font-size: 62.5%;
    letter-spacing: 1px;
}

main {
    display: flex;
    flex-direction: column;
}

main .next {
    width: 4rem;
    height: 1.5rem;
    background-color: #38396f;
    margin-bottom: .3125rem;
    border-radius: .3125rem;
    line-height: .5;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.next span:first-child {
    font-size: 62.5%;
    letter-spacing: 1px;
}

main .game-board {
    display: grid;
    grid-template-columns: repeat(3, 5.3125rem);
    grid-template-rows: repeat(3, 5.3125rem);
    gap: .9375rem;
}

.game-board .cell {
    font-size: 375%;
    background-color: #38396f;
    border-radius: .625rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .options {
    margin-top: 1.25rem;
    display: flex;
    justify-content: space-evenly;
}

.options > div {
    width: 2.5rem;
    height: 2.5rem;
    background-color: #38396f;
    border-radius: 50%;
    transition: background-color .2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options > div:hover {
    background-color: #4e4f7f;
}

.options img {
    width: 1.875rem;
}

/* Modal & Overlay Styles */

.modal {
    position: absolute;
    width: 100vw;
    background-color: #38396f;
    padding: 15px 15px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.modal button {
    width: fit-content;
}

.winner-modal {
    height: 150px;
}

.winner-modal .message {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.message .winner-mark {
    font-size: 32px;
    line-height: .9;
}

.message .winner-name {
    font-size: 18px;
}

.winner-modal .btns {
    display: flex;
    column-gap: 15px;
}

.btns .quit {
    background-color: #e9e9ef;
    box-shadow: 0px 5px #bababf;
}

.btns .quit:active {
    box-shadow: none;
}

.stats-modal {
    height: 200px;
}

.stats-modal .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5px;
}

.stats .first-player-name,
.stats .second-player-name,
.stats .ties {
    letter-spacing: 1px;
    justify-self: end;
}

.stats .first-player-name,
.stats .second-player-name {
    text-transform: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(1px);
    z-index: 1;
}

.hidden {
    display: none;
}