@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}

input,
button {
    font-family: inherit;
}

button {
    text-transform: inherit;
}